{% extends "base.html" %}

{% block head %} 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
<style>
    .card-custom {
        max-width: 300px;
    }
     .card-title{
    font-size:19px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5 justify-content-center">
    {% for article in articles %}
    {% if article.valid_image %}
        <div class="card card-custom mx-2 mb-3">
            <h4 class="card-title">{{ article.title }}</h4>
            <a href="{% url 'email' article.id %}">
               <img src="{{ article.image_url }}" alt="" class="card-img">
           </a>
        </div>
      {% endif %}
    {% endfor %}    
    </div>
</div>
{% endblock %}