{% extends "base.html" %}
{% block title %}Today Articles{% endblock %}

{% block style %} 
    .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            }
{% endblock %}
\
{% block content %}
<div class="articles-list">
  {% for article in articles %}
  <div class="article center">
  {% if article.valid_image %}
    <h3 class="center" >{{ article.title }}</h3>
    <p>
      <a href="{% url 'email' article.id %}">
        <img  src="{{ article.image_url }}"/>
      </a>
    </p>
  {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
